extends layout

block content
  div(align='center')
      table
        tr
          td(style='border-right: 2px solid #D3E1F9;')
            h3(style='margin-bottom:0;margin-top:10px;font-size:large;font-weight:bold;font-variant:small-caps;color:#404040') CREATE A NEW ACCOUNT
            p(style='text-align:left;margin-bottom:10px;color:#606060;margin-bottom:20px') just choose a username and password  
            div(style='margin-left:10px;')
              div(style='color:#606060;font-weight:bold;') username:
              input#textbox_username(value='', name='user', maxlength='20', tabindex='3', autofocus='', type='text')
              div(style='color:#606060;font-weight:bold;') email:
              input#textbox_email(value='', name='email', maxlength='50', tabindex='3', autofocus='', type='text')
              div(style='color:#606060;font-weight:bold;') password:
              input#textbox_password1(name='passwd', tabindex='3', type='password')
              div(style='color:#606060;font-weight:bold;') verify password:
              input#textbox_password2(name='passwd2', tabindex='3', type='password')
              br
              br
              button#createUser.button(name='create_account', value='create_account', tabindex='3') create account
              br
          td
            div(style='margin-left:20px;')
              h3(style='margin-bottom:0;margin-top:10px;font-size:large;font-weight:bold;font-variant:small-caps;color:#404040') LOGIN
              p  
              div(style='margin-left:10px;')
                div(style='color:#606060;font-weight:bold;') username:
                input#auth_username(value='', name='user', maxlength='20', tabindex='3', autofocus='', type='text')
                div(style='color:#606060;font-weight:bold;') password:
                input#auth_password(name='passwd', tabindex='3', type='password')
                br
                p(style='margin-bottom:0;margin-top:5px;color:#606060;font-weight:bold;')
                  input(name='rememberme[]', value='rememberme', type='checkbox')
                  |  remember me
                br
                button#authUser.button(name='login', value='login', tabindex='3') login
                br
                br
                p(style='font-size:x-small;')
                  a(href='#forgotpass') forgot password
